<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Splendor</title>
    <script src=https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{url_for('static', filename='jquery-3.0.0.js') }}">\x3C/script>')
    </script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script type=text/javascript>
        $(function () {
            $('button#card_button').on('click', function () {
                var button_clicked = $(this);
                var card_to_replace = $('img', this);
                $.getJSON($SCRIPT_ROOT + '/choose_card_ajax',
                        {
                            card_info: button_clicked.val()
                        },
                        function (data) {
                            button_clicked.val(data.result);
                            card_to_replace.prop("src", 'static/cards/' + data.result);
                        });
                return false;
            });
        });
    </script>
</head>
<body>
<h1>Splendor for the win!</h1>
<table>
    <tbody>
    <tr>
        {% for card in level3_cards %}
            <td>
                <form action="/choose_card" method="POST" >
                    <button id="card_button" type="submit" value={{ card }}>
                        <img src="static/cards/{{ card }}" height="240" width="150"/>
                    </button>
                </form>
            </td>
        {% endfor %}
    </tr>
    <tr>
        {% for card in level2_cards %}
            <td>
                <form action="/choose_card" method="POST" >
                    <button id="card_button" type="submit" value={{ card }}>
                        <img src="static/cards/{{ card }}" height="240" width="150"/>
                    </button>
                </form>
            </td>
        {% endfor %}
    </tr>
    <tr>
        {% for card in level1_cards %}
            <td>
                <form action="/choose_card" method="POST" >
                    <button id="card_button" type="submit" value={{ card }}>
                        <img src="static/cards/{{ card }}" height="240" width="150"/>
                    </button>
                </form>
            </td>
        {% endfor %}
    </tr>
    </tbody>
</table>
</body>
</html>